<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyectos Habitacionales</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyectocondominos.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        bool mostrar = true;
        if (ViewBag.EsconderHeaderFooter != null && (bool)ViewBag.EsconderHeaderFooter)
        {
            mostrar = false;
        }
    }
    <header>
        @if (mostrar)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: rgba(0, 0, 0, 0.05);">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Proyectos Habitacionales</a>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="width:75%;">
                                        <ul class="navbar-nav flex-grow-1">
                                            @{
                                                bool showMenu = true;
                                                var sessionValue = new UsuarioActivo();
                                                if (ViewBag.Usuario == null)
                                                {
                                                    showMenu = false;
                                                }
                                                else
                                                {
                                                    sessionValue = (UsuarioActivo)ViewData["Usuario"];
                                                }
                                            }
                                            @if (showMenu)
                                            {
                                                if (sessionValue.Tipo == "Administrador")
                                                {
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Proyectos", "Index", "ProyectosHabitacionales", null, new { @class="nav-link text-dark" })
                                                    </li>
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Condóminos", "Index", "Condominos", null, new { @class="nav-link text-dark" })
                                                    </li>
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Asignar Condóminos a Proyecto", "Index", "CondominosPorProyecto", null, new { @class="nav-link text-dark" })
                                                    </li>
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Oficiales de Seguridad", "Index", "OficialDeSeguridad", null, new { @class="nav-link text-dark" })
                                                    </li>
                                                }
                                                else if (sessionValue.Tipo == "Condomino")
                                                {
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Visitas", "Index", "Visitas", null, new { @class="nav-link text-dark" })
                                                    </li>
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Visitas Favoritas", "Index", "VisitasFavoritas", null, new { @class="nav-link text-dark" })
                                                    </li>
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Visitas Rapidas", "Index", "VisitaRapida", null, new { @class="nav-link text-dark" })
                                                    </li>
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Vehículos", "Index", "Vehiculo", null, new { @class="nav-link text-dark" })
                                                    </li>
                                                }
                                                else if (sessionValue.Tipo == "Oficial de seguridad")
                                                {
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Vehículos de libre accesso", "Index", "VehiculosPorProyecto", null, new { @class="nav-link text-dark" })
                                                    </li>
                                                    <li class="nav-item">
                                                        @Html.ActionLink("Registro de Visitas", "Index", "RegistroDeVisitas", null, new { @class="nav-link text-dark" })
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </td>
                                    <td style="width:15%; text-align:left">
                                        <ul class="navbar-nav flex-grow-1">
                                            @if (ViewBag.Usuario != null)
                                            {
                                                <li class="nav-item">
                                                    @Html.ActionLink("Cerrar Sesión", "LogOut", "Home", null, new { @class="nav-link text-dark" })
                                                </li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (mostrar)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Proyectocondominos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>