@using ProyectoCondominios.Models
@model ModeloBase
@{
    ViewData["Title"] = "Visitas";
    var visitas = (List<Visitas>)Model.Datos;
}

<div class="text-center">
    <h4>Visitas Favoritas</h4>
</div>
@if (!string.IsNullOrEmpty(Model.Error.Error))
{
    <br />
    <div class="alert alert-danger" role="alert">
        @Model.Error.Error
    </div>
}
else
{
    <div class="row-cols-12">
        <input type="button"
           value="+ Agregar"
           class="btn btn-success"
           onclick="location.href='@Url.Action("AgregarOEditar", "VisitasFavoritas")'" />
    </div>
    <br />
    <div class="text-center">
        @if ((visitas != null && visitas.Count > 0) || Model.Buscando)
        {
            <div class="row">
                @using (Html.BeginForm("Buscar", "VisitasFavoritas", FormMethod.Post))
                {
                    <div class="col-11" style="float:left;">
                        @Html.TextBox("palabraClave", null, new { @class = "form-control", placeholder="Buscar por Cédula, Nombre ó Vehículo"})
                    </div>
                    <div style="float:right;">
                        <input type="submit" class="btn btn-success" value="Buscar" />
                    </div>
                }
            </div>
            <br />
        }
        @if (visitas != null && visitas.Count > 0)
        {            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Vehículo</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in visitas)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Cedula</td>
                            <td>@item.Nombre</td>
                            <td>@item.Vehiculo</td>
                            <td>
                                <input type="button"
                           value="Editar"
                           class="btn btn-warning"
                           onclick="location.href='@Url.Action("AgregarOEditar", "VisitasFavoritas", new { id = item.Id})'" />
                            </td>
                            <td>
                                <input type="button"
                           value="Eliminar"
                           class="btn btn-danger"
                           onclick="location.href='@Url.Action("Eliminar", "VisitasFavoritas", new { id = item.Id})'" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <br />
            <div class="alert alert-warning" role="alert">
                No existen elementos para mostrar.
            </div>
        }
    </div>
}



